<p>
Mes informations</p>
<form>
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" name="nom">
  </div>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control" name="prenom">
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input type="email" class="form-control" name="email">
  </div>
  <div class="form-group">
    <label for="telephone">Télephone</label>
    <input type="text" class="form-control" name="telephone">
  </div>
  <div class="form-group">
    <label for="adresse">Adresse</label>
    <input type="text" class="form-control" name="adresse">
  </div>
  <div class="form-group">
    <label for="codePostale">Code postal</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control">
  </div>

</form>


this.id = id;
		this.motDePasse = motDePasse;
		this.nom = nom;
		this.prenom = prenom;
		this.email = email;
		this.telephone = telephone;
		this.adresse = adresse;
		this.codePostale = codePostale;
		this.ville = ville;
		this.situation = situation;
		this.conseiller = conseiller;