<h2>Mes informations</h2>
<form  (ngSubmit)="addClient()" method="POST">
  <fieldset>
        <legend>Information de Connection</legend>
        <label for="identifiant">Identifiant </label>
        <input type="text" id="identifiant" name="identifiant" ngModel>
        <label for="motDePasse">Mot de Passe</label>
        <input type="password" id="motDePasse" name="motDePasse" ngModel>
  </fieldset> 
  <fieldset>
        <legend>Informations personnelles</legend>
        <label for="nom">Nom *</label>
        <input type="text" id="nom" name="nom" ngModel>
        <label for="prenom">Prénom *</label>
        <input type="text" id="prenom" name="prenom" ngModel>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" ngModel>
        <label for="telephone">Téléphone *</label>
        <input type="text" id="telephone" name="telephone" ngModel>
        <label for="adresse">Adresse</label>
        <textarea name="" id="" cols="30" rows="10" name="adresse" ngModel></textarea>
        <label for="codeP">Code postal</label>
        <input type="text" id="codeP" name="codePostale" ngModel>
        <label for="ville">Ville</label>
        <input type="text" id="ville" name="ville" ngModel>
    </fieldset>
   <fieldset>
        <legend>Situation familiale</legend>
        <label for="situation">Situation</label>

        <input type="radio" name="situation" value="Celibataire" id="Celibataire" ngModel>
        <label for="Celibataire">Célibataire</label>

        <input type="radio" name="situation" value="marie(e)" id="marie" ngModel>
        <label for="marie">Marié(e)</label>

        <input type="radio" name="situation" value="divorse" id="divorse" ngModel>
        <label for="divorse">Divorcé</label>

        <input type="radio" name="situation" value="pacs" id="pacs" ngModel>
        <label for="pacs">Pacs</label>

        <input type="radio" name="situation" value="veuf(ve)" id="Veuf" ngModel>
        <label for="veuf">Veuf(ve)</label>

        <input type="radio" name="situation" value="concubinage" id="concubinage" ngModel>
        <label for="concubinage">Concubinage</label>

        <label for="nombreEnfant">Nombres d'enfants</label>
        <input type="number" name="nombreEnfant" id="nombreEnfant" ngModel>
    </fieldset>

    <fieldset>
        <legend>Compte</legend>

        <label for="conseiller">Conseiller</label>
        <input type="text" name="conseiller" id="" ngModel>
<!--
        <label for="numeroDeCompte">Numéro de compte</label>
        <input type="text" name="numeroDeCompte" id="" ngModel>

        <label for="type">Type</label>

        <input type="radio" name="type" value="courantSans" id="courantSans" ngModel>
        <label for="courantSans">Courant sans découvert</label>

        <input type="radio" name="type" value="courantAvec" id="courantAvec" ngModel>
        <label for="courantAvec">Courant avec découvert</label>

        <input type="radio" name="type" value="remunere" id="remunere" ngModel>
        <label for="remunere">Rémuneré</label>
    
        <label for="decAut">Découvert autorisé</label>
        <select ngModel>
          <option>Pas de découvert</option>
          <option>200</option>
          <option>500</option>
          <option>1000</option>
        </select>

        <label for="plafond">Plafond autorisé</label>
        <select ngModel>
          <option>Pas de plafond</option>
          <option>200</option>
          <option>500</option>
          <option>1000</option>
        </select>
        -->
    </fieldset> 

    <input type="submit" [disabled]="" value="Envoyer ma demande">
</form>
