<h3>Gestion des clients</h3>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>N° Compte</th>
        <th>Type de compte</th>
        <th>Solde</th>
        <!--<th>action</th>-->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <!--<td> <a href="" ></a><a href="" ></a></td>-->
      </tr>
      <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <!--<td> <a href="" ></a><a href="" ></a></td>-->
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <!--<td> <a href="" ></a><a href="" ></a></td>-->
          </tr>
    </tbody> 
  </table>
