<h2>Bienvenue Nom Prénom</h2>
<div>
    <p>Ici</p>
    
      <div *ngFor="let item of clients" >     
           <p>{{item.prenom}} </p>
           <p>{{item.nom}} </p>
           <p>{{item.email}}</p> 
           <p>{{item.situation}}</p>
           <p>{{item.nbrEnfant}}</p>
           <p>{{item.tel}}</p>
           <p>Adresse</p>
           <p>{{item.adresse.numero}}</p>
           <p>{{item.adresse.rue}}</p>
           <p>{{item.adresse.cp}}</p>
           <p>{{item.adresse.ville}}</p>

           
        </div>
    
  </div>
<nav>
    <a [routerLink]="['./']">Accueil </a>
    <a [routerLink]="['./app-mon-compte']">Mes informations </a>
    <a [routerLink]="['./app-virement']">Virement </a>
    <a [routerLink]="['./app-historique']">Historique </a>
    <a [routerLink]="['./app-commande-chequier']">Commande de chèquier </a>
</nav>

<section id="clientDaswboard">
    <router-outlet></router-outlet>
</section>