
<!--<button (click)="update()">ffffff </button>-->
<section id="gestionConseiller">
  <h3>Gestion des conseillers</h3>
  <table>
    <thead>
      <tr>
        <th>Mle</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Nombre clients</th>
        <th>Supprimer</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listConseillers">
        <td> {{c.mle}} </td>
        <td> {{c.nom}} </td>
        <td> {{c.prenom}} </td>
        <td>5</td>
     
        <td> <a (click)="deleteRow(c.mle)"> supprimer </a></td>
        <td> <a href="" > modifier</a></td>
      </tr>
    </tbody> 
  </table>

<a class="lien" [routerLink]="['./app-add-conseiller']">Nouveau Conseiller</a>
</section>

