<h3>Gestion des notifications</h3>
<table>
  <thead>
      <tr>
        <th>Date/Heure</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Type de demande</th>
        <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td> 01/01/2019 </td>
        <td> Nom </td>
        <td> Prenom</td>
        <td>Chéquier</td>
        <td> <a href="">V</a> <a href="">X</a></td>
      </tr>
      <tr>
          <td> 01/01/2019 </td>
          <td> Nom </td>
          <td> Prenom</td>
          <td>Nouveau mot de passe</td>
          <td> <a href="">V</a> <a href="">X</a></td>
        </tr>
  </tbody>
</table>

<h3>Gestion des nouveaux clients</h3>
<table>
  <thead>
      <tr>
        <th>Date/Heure</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Demande</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td> 01/01/2019</td>
        <td> Nom </td>
        <td> Prenom</td>
        <td> <a href="">Ouverture du dossier</a></td>
      </tr>
      <tr>
          <td> 01/01/2019</td>
          <td> Nom </td>
          <td> Prenom</td>
          <td> <a href="">Ouverture du dossier</a></td>
        </tr>
        <tr>
            <td> 01/01/2019</td>
            <td> Nom </td>
            <td> Prenom</td>
            <td> <a href="">Ouverture du dossier</a></td>
          </tr>
          <tr>
              <td> 01/01/2019</td>
              <td> Nom </td>
              <td> Prenom</td>
              <td> <a href="">Ouverture du dossier</a></td>
            </tr>
  </tbody>
</table>