<section>
  <h2>Bienvenue sur GestiBank, votre banque en ligne</h2>
  <img src="" alt="">
  <p class="paragraphe">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi rem fugit totam 
    doloribus autem temporibus perspiciatis quia! Nobis perspiciatis temporibus enim accusantium velit 
    unde dolores quaerat harum, repudiandae iusto rem!</p>
  <p class="paragraphe">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi rem fugit totam 
    doloribus autem temporibus perspiciatis quia! Nobis perspiciatis temporibus enim accusantium velit 
    unde dolores quaerat harum, repudiandae iusto rem!</p>
  <p class="paragraphe">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi rem fugit totam 
    doloribus autem temporibus perspiciatis quia! Nobis perspiciatis temporibus enim accusantium velit 
    unde dolores quaerat harum, repudiandae iusto rem!</p>
</section>
<aside class="aside">
  <h2>Rejoingnez-nous</h2>
  <p class="paragraphe">Lorem ipsum dolor sit amet adicing elit. Quisquam nisi libero 
    sapiente quod cum molesae aspees aut, ipsum veris prum, coi ratione nihil 
    explicabo? Quaerat veris prum, conseur ipsum iste illo qui.</p>
    <a href="">Créer un compte</a>
</aside>

<hr class="clear">

<aside class="convertisseur">
  convertisseur
</aside>
<img src="" alt="">

<hr class="clear">