<h3>Gestion des clients</h3>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>N° Compte</th>
        <th>Conseiller</th>
        <th>Réaffectation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Nom du client</th>
        <th>Prénom du client</th>
        <th>123 45678 432</th>
        <th>nom di Conseiller</th>
        <td> <a href="" >Nouveau Conseiller</a></td>
      </tr>
      <tr>
          <th>Nom du client</th>
          <th>Prénom du client</th>
          <th>123 45678 432</th>
          <th>nom di Conseiller</th>
          <td> <a href="" >Nouveau Conseiller</a></td>
        </tr>
        <tr>
            <th>Nom du client</th>
            <th>Prénom du client</th>
            <th>123 45678 432</th>
            <th>nom di Conseiller</th>
            <td> <a href="" >Nouveau Conseiller</a></td>
          </tr>
    </tbody> 
  </table>
