<h3>Gestion des notifications</h3>
<div>
    <p class="numCompte">Numéro de compte : {{currentCompte.numeroCompte}}</p>
    <p class="solde">Solde : <span>{{currentCompte.solde}} €</span></p>
</div>

<table>
  <thead>
      <tr>
        <th>Date/Heure</th>
        <th>Libellé</th>
        <th>Débit</th>
        <th>Crédit</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of listOperations">
        <td>{{item.dateOp}}</td>
        <td>{{item.libelleOp}}</td>
        <td>{{item.montantOpCredit}}</td>
        <td>{{item.montantOpDebit}}</td>
      </tr>
  </tbody>
</table>